<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ville.homeland"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.ville.homeland.HomeLandApplication"
        android:allowBackup="true"
        android:icon="@drawable/image_title"
        android:label="@string/app_name"
        android:theme="@style/Theme.HOMELAND" >
        <activity
            android:name="com.ville.homeland.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HOMELAND.HOME" >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />


            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ville.homeland.ui.WebBrowserActivity" />
        <activity android:name="com.ville.homeland.weibo.WBAuthActivity" />
        <activity android:name="com.ville.homeland.ui.MessagesActivity" />
        <activity android:name="com.ville.homeland.ui.ProgramsActivity" />
        <activity android:name="com.ville.homeland.ui.QueryProgramsResultsActivity" />
        <activity
            android:name="com.ville.homeland.ui.ImageDetailActivity"
            android:theme="@style/Theme.Sherlock" />
        <activity android:name="com.ville.homeland.ui.SplashActivity" />
        <activity android:name="com.ville.homeland.ui.MainTabsActivity" />
        <activity
            android:name="com.ville.homeland.ui.PlayerActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.ville.homeland.ui.PlayerActivity2"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.ville.homeland.ui.CompereAllImagesActivity"
            android:theme="@style/Theme.HOMELAND" />
        <activity
            android:name="com.ville.homeland.ui.StatusDetailActivity"
            android:theme="@style/Theme.HOMELAND" />
        
        <activity
            android:name="com.ville.homeland.ui.AboutActivity"
            android:theme="@style/Theme.HOMELAND.SlidingBack" />
        <activity
            android:name="com.ville.homeland.ui.SettingsActivity"
            android:theme="@style/Theme.HOMELAND.SlidingBack" >
<!--             <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
<!--             </intent-filter> -->
        </activity>
    </application>

</manifest>